* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

.container {
  max-width: 1440px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 75px;
  height: 2.45rem;
  margin-top: 1px;
  align-items: center;
  padding: 0.6rem 1.5rem;
  background-color: var(--red);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  font-size: var(--md);
}


/* -- MAIN -- */

main {
  background-color: var(--content-color);
}

header {
  display: flex;
  height: 4rem;
}

.home {
  position: relative;
  background: url('.././assets/img/bkg-circus.png');
  background-size: cover;
  background-position: center center;
  padding: 0 1rem;
  height: 100vh;
}

.logo {
  width: 100%;
  padding-left: 6rem;
  padding-top: 2rem;
}

.main_content {
  position: relative;
  height: calc(100% - 4rem);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 6rem 6rem;
  color: var(--white-color);
}

.title,
.subtitle {
  margin-bottom: 2.5rem;
}

.title h1 {
  font-size: 190px;
}

.title h2 {
  font-size: 80px;
}

.title h2 span {
  color: var(--red);
}

.title h1,
.title h2 {
  position: relative;
  z-index: 3;
}

.subtitle {
  max-width: 27.5%;
  display: flex;
  flex-direction: column;
}

.subtitle p {
  line-height: 1.5;
}

.main_text {
  margin-bottom: 2rem;
}

.box_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--white-color);
  max-width: 20rem;
  max-height: 2.6rem;
  justify-content: space-between;
  cursor: text;
}

.box_btn:hover {
  background-color: var(--black-color);
}

.download {
  color: var(--white-color);
  font-size: var(--normal);
  padding-left: 2rem;
  padding-right: 5rem;
}

.btn {
  max-width: 100px;
  max-height: 2.6rem;
}

.person {
  z-index: 2;
}

.magician {
  width: 675px;
  height: auto;
  position: absolute;
  right: 8rem;
  bottom: 0;
}

.icon_whatspp {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  bottom: 5%;
}


/* -- PRESENTATION SECTION -- */

.presentation {
  background-color: var(--content-color);
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.box_bkg {
  margin: 0 auto;
  position: absolute;
  padding: 2rem 4rem;
  top: -2rem;
  left: 12rem;
  max-width: 900px;
  min-height: 25rem;
  background-color: var(--white-color);
  z-index: 3;
}

.text_presentation {
  max-width: 550px;
}

.text_presentation h2 {
  font-size: var(--xl);
}

.video {
  position: absolute;
  top: 8rem;
  margin: 0 auto;
  z-index: 4;
  overflow-x: hidden;
}

.video img {
  max-width: 950px;
  height: 25rem;
}

.video img:hover {
  z-index: 1;
}

.video .play {
  cursor: pointer;
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  right: calc(50% - 40px);
  z-index: 2;
  transition: all .5s;
}

.video .play:hover {
  transform: scale(1.25);
}

.text_section {
  text-align: center;
  padding: 36rem 1rem 4rem;
  font-size: 48px;
}

/* -- GRID SECTION -- */

.text_section span {
  color: var(--red);
}

.grid {
  background-color: var(--content-color);
  padding: 0 1rem;
  max-width: 970px;
  max-height: 600px;
  margin: 0 auto;
  margin-bottom: 8rem;
  cursor: pointer;
}

.wrapper {
  display: grid;
  height: 600px;
  grid-template-columns: 25% 37.5% 37.5%;
  grid-auto-columns: 600px;
}

.box {
  color: #fff;
  padding: 40px 25px;
}

.box p {
  width: 70%;
}

.a {
  grid-column: 1;
  grid-row: 1 / 3;
  background: linear-gradient(rgba(216, 59, 54, .7), rgba(216, 59, 54, .7)), url('.././assets/img/img-grid-a.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  border-right: 1px solid var(--white-color);
  font-size: 3rem;
}

.a span, .b span, .c span, .d span {
  text-decoration: underline;
}

.b {
  grid-column: 2;
  grid-row: 1;
  background: linear-gradient(rgba(216, 59, 54, .7), rgba(216, 59, 54, .7)), url('.././assets/img/img-grid-b.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  border-bottom: 1px solid var(--white-color);
  font-size: 2rem;
}

.c {
  grid-column: 2;
  grid-row: 2;
  background: linear-gradient(rgba(216, 59, 54, .7), rgba(216, 59, 54, .7)), url('.././assets/img/img-grid-c.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  border-top: 1px solid var(--white-color);
  font-size: 2rem;
}

.d {
  position: relative;
  grid-column: 3;
  grid-row: 1 / 3;
  background: #101A23;
  font-size: 2rem;
  border-left: 1px solid var(--white-color);
}

.d span {
  text-decoration: underline;
  color: var(--red);
}

.img-d {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.b, .c {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

.a:hover, .b:hover, .c:hover, .d:hover, .e:hover {
  transition: all .5s;
  transform: scale(1.025);
}

/* -- FOOTER -- */

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background-color: var(--footer);
  z-index: 2;
}

.footer_contact {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 4rem;
  align-items: center;
  padding-left: 6rem;
  text-decoration: underline;
}

footer span {
  color: var(--red);
}

footer a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: var(--xl);
}

.link-email {
  padding-right: 1rem;
}

.bar {
  font-size: var(--xxl);
  padding-right: 1rem;
}

.footer_box .box_btn {
  margin: 2rem 6rem 2rem;
  border-color: var(--black-color);
}

.footer_box .download h3 {
  color: var(--black-color)
}

.footer_box .box_btn:hover {
  background-color: var(--content-color);
}

.thanks {
  margin: 4rem 0;
  width: 600px;
  padding-left: 6rem;
  color: var(--main-text-color);
}

.thanks h4 {
  font-size: 48px;
}

.thanks h4,
.copy p {
  font-weight: 275;
}

.copyright a {
  font-size: var(--lg);
  color: var(--red);
}

.copy a:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  margin-bottom: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  border-bottom: 2px solid #707070;
  z-index: 1;
}

.box_copy {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 2rem;
}

.box_copy .logo {
  width: 250px;
  padding-top: 0;
  padding-left: 6rem;
}

.box_copy .copyright {
  padding-left: 6rem;
}

.clown {
  position: relative;
  z-index: 2;
}

.clown img {
  width: 450px;
  position: absolute;
  bottom: 0;
  right: 8rem;
}

/* -- MODAL -- */

#open-modal {
  background-color: var(--red);
}

button:hover {
  opacity: .8;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: var(--white-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#overlay,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#close-modal {
  padding: 0;
  background-color: var(--white-color);
}

.modal-header {
  display: flex;
  justify-content: end;
}

.modal-body p {
  margin-bottom: 1rem;
}

.input_container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid var(--black-color);
  padding: 1rem 0 0;
  font-size: var(--xl)
}

.input_container span {
  color: var(--red)
}

.input_container:last-child {
  border-bottom: none;
}

input {
  width: 100%;
  height: 2rem;
  border: none;
}

textarea {
  resize: none;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.submit {
  width: 100%;
  height: 32px;
  background-color: var(--red);
  color: var(--white-color);
  cursor: pointer;
  margin-top: 1.5rem;
  border: none;
  transition: background-color .3s;
  font-size: var(--lg);
}


.submit:hover {
  background-color: var(--marine-blue);
}

#modal.hide,
#overlay.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

/*-- MEDIA QUERY --*/

@media (max-width: 1400px) {
  .title h1 {
    font-size: 150px;
  }
}

@media (max-width: 1280px) {
  .title h1 {
    font-size: 120px;
  }

  .title h2 {
    font-size: 60px;
  }

  .subtitle { 
    max-width: 40%;
  }

  .magician {
    width: 525px;
    right: calc(6rem + (25% - (525px/2)));
  }

  .box_bkg {
    margin: 0 auto;
  }

  .box_copy .copyright {
    padding-left: 2rem;
  }

  .copy p, .copy a {
    font-size: 14px;
  }

  .clown img {
    width: 300px;
  }
}

@media (max-width: 999px) {

  .home {
    background-position: center right;
  }

  .content {
    padding: 6rem 2rem;
  }

  .logo {
    padding: 2rem 1rem;
  }

  .title h1 {
    font-size: 100px;
  }

  .title h2 {
    font-size: 50px;
  }

  .subtitle { 
    max-width: 50%;
  }

  .magician {
    width: 400px;
    right: calc(6rem + (25% - (400px/2)));
  }

  .text_section {
    font-size: 36px;
  }

  .box_bkg {
    margin: 0 1rem;
    left: 0;
  }

  .video img {
    width:100%;
    object-fit: cover;
  }

  .wrapper {
    grid-template-columns: 35% 65%;
    grid-template-rows: 200px 200px 200px;
  }

  .box p {
    width: 60%;
  }

  .a {
    grid-column: 1;
    grid-row: 1 / 3;
    border-bottom: 1px solid var(--white-color);
    font-size: 2.5rem;
  }

  .b {
    background-size: cover;
    background-position: left top;
    border-right: none;
    font-size: 1.5rem;
  }

  .c {
    background-size: cover;
    background-position: left top;
    border: 1px solid var(--white-color);
    border-right: none;
    font-size: 1.5rem;
  }

  .d {
    grid-column: 1 / 3;
    grid-row: 3;
    border-left: none;
    border-top: 1px solid var(--white-color);
    font-size: 1.5rem;
  }

  .img-d {
    position: absolute;
    width: 250px;
    height: 199px;
    left: calc(100% - 250px);
  }

  .a:hover, .b:hover, .c:hover, .d:hover, .e:hover {
    transform: scale(1.008);
  }

  .footer_box {
    padding: 0 1rem;
  }

  .footer_contact, .thanks {
    padding-left: 0;
  } 

  .footer_box .box_btn {
    margin-left: 0;
    margin-right: 0;
  }

  .thanks {
    width: 400px;
  }

  .thanks h4 {
    font-size: 36px;
  }

  .box_copy {
    flex-direction: column;
  }

  .box_copy .logo {
    text-align: center;
  }

  .box_copy .logo,   .box_copy .copyright {
    padding: 0 0;
  }

  .clown {
    bottom: 6.5rem;
  }

  .clown img {
    width: 200px;
  }
}

@media (max-width: 720px) {

  .content {
    padding: 4rem 2rem;
  }

  .title h1 {
    font-size: 55px;
  } 

  .title h2 {
    font-size: 40px;
  }

  .box_btn {
    margin: 0 auto;
    justify-items: center;
  }

  .title, .subtitle {
   max-width: 100%;
   text-align: center;
  }

  .subtitle>div {
    margin: 0 auto;
    max-width: 80%;
  }

  .magician {
    display: none;
  }

  .whatsapp{
    width: 50px;
    height: 50px;
  }

  .icon_whatspp {
    right: 1rem;
    top: -45px;
  }

  .text_presentation h2 {
    font-size: var(--normal);
  }

  .text_section {
    font-size: 24px;
  }

  .grid {
    max-height: 550px;
  }

  .wrapper {
    height: 550px;
    grid-template-columns: 35% 65%;
    grid-template-rows: 175px 175px 200px;
  }

  .box {
    padding: 20px 15px;
  }

  .box p {
    width: 80%;
  }

  .a {
    background-size: cover;
    background-position: center;
    grid-column: 1;
    grid-row: 1 / 4;
    border-bottom: none;
    font-size: var(--xxl);
  }

  .b {
    border-left: 1px solid var(--white-color);
    font-size: var(--lg);
  }

  .c {
    font-size: var(--lg);
  }

  .d {
    grid-column: 2;
    grid-row: 3;
    border-left: 1px solid var(--white-color);
    font-size: var(--lg);
  }

  .d p {
    position: relative;
    z-index: 2;
  }

  .img-d {
    width: 100%;
    height: 200px;
    left: 0%;
    z-index: 1;
    filter: opacity(40%)
  }

  .footer_contact{
    flex-wrap:wrap;
  }

  footer a {
    font-size: var(--lg);
  }

  .bar {
    display: none;  
  }

  .link-tel {
    padding: .5rem 0;
  }

  .thanks {
    width: 200px;
    font-weight:bold;
  }

  .thanks h4 {
    font-size: var(--lg);
  }

  .clown img {
    right: 4rem;
    width: 135px;
  }

}

@media (max-width: 480px) {

  .content {
    padding: 4rem 0;
  }

  .title h1 {
    font-size: 42px;
  } 

  .title h2 {
    font-size: 32px;
  }

  .download {
    font-size: var(--md);
    padding-right: 2rem;
  }

  .whatsapp{
    width: 30px;
    height: 30px;
  }

  .icon_whatspp {
    top: -35px;
  }

  .box_bkg {
    padding: 2rem 2rem;
  }

  .text_section {
    font-size: var(--lg);
  }

  .grid {
    max-height: 600px;
  }

  .wrapper {
    height: 600px;
    grid-template-columns: 100%;
    grid-template-rows: 150px 125px 125px 200px;
  }

  .box {
    padding: 20px 15px;
  }

  .box p {
    width: 80%;
  }

  .a {
    grid-column: 1;
    grid-row: 1;
    border-bottom: 1px solid var(--white-color);
  }

  .b {
    grid-column: 1;
    grid-row: 2;
    border-left: none;
    border-top: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
  }

  .c {
    border-left: none;
    border-top: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    grid-column: 1;
    grid-row: 3;
  }

  .d {
    grid-column: 1;
    grid-row: 4;
    border-left: none;
    border-top: 1px solid var(--white-color);
  }

  .d p {
    position: relative;
    z-index: 2;
  }

  .img-d {
    width: 100%;
    height: 200px;
    z-index: 1;
    filter: opacity(40%);
  }

  .footer_contact{
    justify-content: center;
  }

  .link-email, .link-tel {
    font-size: var(--normal);
  }

  .footer_box .box_btn {
    justify-items: center;
    margin: 2rem auto;
  }

  .thanks {
    text-align: center;
    margin: 2rem auto;
  }

  .thanks h4 {
    font-size: var(--normal);
  }

  .thanks, .thanks h4 {
    width: 100%;
  }


  .clown {
    bottom: 0;
  }

  .clown img {
    position: relative;
    display: flex;
    margin: 0 auto;
    right: 0;
    width: 135px;
  }

}